/*
Blake, Milo
Module 7.3
09/18/2021
bioSite
*/

* {
    font-family: Lora, Times, "Times New Roman", serif;
    background-color: #f2daf7;
}
/* Header Styles*/
 header img {
     width:100px;
     height: 100px;
     float: left;
     object-fit: contain;
 }
 header {
     border-bottom: 5px solid black;
     height:110px;
 }
 header h1 {
     text-align:center;
 
 }

 header #navbar {
     text-align: center;

 }
#formalinfo {
    margin-top: 10px;
}
 /* Images Styles*/
 .threeimageblock {
     max-height:75%;
     max-width:100%;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr; 
     padding: 10px;
 }
 
.threeimageblock img {
    width: 100%;
    height:75%;
    object-fit: contain;
    text-align:center;
}

figure {
    
}

#formalImage img {
display: block;    
max-height:50%;
max-width: 50%;
object-fit:contain;
margin-left: auto;
margin-right:auto;

}


 /*Footer Styles*/
footer a {
    float:right;
}

 footer img {
     float:right;
     width:100px;
     height:100px;
     object-fit: contain;
     clear:right;

 }